/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link1 {
  text-decoration: none;
  color: #000000;
}

.top {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  color: #333;
 
  
  position: relative;
  
  
}
::-webkit-scrollbar {
  width: 1px;
}

/* Header */
.header {
  
  width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    position: sticky;
    top:0;
    justify-content: space-between;
    padding: 0 ;
    border-bottom: 2px solid #dadada;
  
  
}
.nav-child2{
  display: flex;
  gap: 4vw;
}

.header h1 {
  margin-bottom: 10px;
  
}

.header--image {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  vertical-align: middle;
}

/* Programs Dashboard */
.programs-dashboard {
  display: flex;
  /* flex-wrap: wrap; Allow items to wrap to the next line */
  position: relative;
  height: 100%;
}

.my-head {
  flex: 0 0 100%;
  position: sticky;
  top: 0;
  z-index: 999;
  
}



.left-section,
.right-section {
  flex: 0 0 20%; /* For smaller screens, full width */
  padding: 20px;
  align-items: center;
  margin-top: 30px;

}
.left-section{
  
  margin-top: 20px;
}

.left-section h1 {
  margin-bottom: 20px;
}
.left-section input{
  
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}
.left-section label{
  display: block;
    margin-bottom: 8px;
}
.left-section button{
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease; 
}
.domain-select {
  margin-bottom: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.middle-section {
  flex: 0 0 60%; /* For smaller screens, full width */
  padding: 20px;
  margin-top: 30px;
  
}

/* Program List */
.program-list {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 9%;
}

.program-list h2 {
  text-align: center;
  margin-bottom: 20px;
}

.program-card {
  background-color: #e8d8dd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;
  cursor: pointer;
  height: 130px;
  text-align: center;
  box-shadow: 0 0 5px;
  transition: background-color 0.3s ease;
}

.program-card:hover {
  background-color: #d48e94;
}

/* Program Details */
.program-details {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 5px;
}

.program-details h2 {
  margin-bottom: 10px;
  text-align: center;
  font: 1.5em Oswald;
  font-weight: 200;
}
.program-details button{
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

/* Program Form */
.program-form-section{
  
  height: 100%;
  width: 100%;
  display:flex;
  position: relative;
  align-items: center;
}
.program-form-container {
  margin-left: 25vw;
  width: 50%;
  position: relative;
  
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.program-form-container label {
  align-items: center;
  display: block;
  
}
.program-form-container h2{
  text-align: center;
}
.program-form-container input,
.program-form-container textarea,
.program-form-container select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.program-form-container button {
  padding: 10px 20px;
  background-color: #05386B;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.program-form-container button:hover {
  background-color: #05386B;
}
.footer {
  background-color: #000000;
  color: #fff;
 
  text-align: center;
  height: 30vh;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  
  
}

.footer h1 {
  margin: 0;
}

.foot-child1 h3 {
  margin-right: 4.3vw;
  opacity: 0.6;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer img {
  margin-right: 10px;
  height: 9vh;
  border: 2px;
  border-color: #fff;
}

.footer .foot-child1 {
  padding-top: 5vh;
  text-align: end;
  height: 100%;
  width: 60%;
  
}

.footer .foot-child2 {
 
  width: 40%;
  display: flex;
  text-align: end;
  align-items: end;
  height: 100%;
  justify-items: end;
  justify-content: end;
  padding-right: 1vw;
  padding-bottom: 1vh;
}
.foot-child2 h2{
  padding-bottom: 3vh;
  padding-right: 1vw;
  opacity: 0.6;
}
.foot-child2.img2{
  height: 8vh;
}
.footer img:hover{
  opacity: 0.6;
}

/* Media Queries */
@media screen and (min-width: 768px) {
  .left-section,
  .right-section {
    flex: 0 0 25%; /* 25% width for medium screens and above */
  }

  .middle-section {
    flex: 0 0 50%; /* 50% width for medium screens and above */
  }
}
